table {
	width: 100%;
}
td {
	padding: 10px;
}
img {
	margin-top: 20px;
	width: 100%;
}
.weight {
	text-align: right;
	font-size: small;
}
.element {
	text-align: center;
	font-weight: bold;
}
.number {
	text-align: left;
	font-size: small;
}
.pink {
	background-color: pink;
}
.purple {
	background-color: mediumpurple;
}
.grey {
	background-color: gainsboro;
}
.blue {
	background-color: steelblue;
}
.hydrogen {
	background-color: papayawhip;
}
.orange {
	background-color: sandybrown;
}
.brown {
	background-color: burlywood;
}
.red {
	background-color: plum;
}
.green {
	background-color: yellowgreen;
}

@media only screen and (max-width: 1200px) {
	td {
		padding: 5px;
	}
	.weight, .number {
		font-size: 0.6em;
	}
	.element {
		font-size: 0.7em;
	}
}

@media only screen and (max-width: 800px) {
	td {
		padding: 0;
	}
	.weight, .number {
		font-size: 0.3em;
	}
	.element {
		font-size: 0.6em;
	}
}

@media only screen and (max-width: 500px) {
	.weight, .number {
		font-size: 5pt;
	}
}
